<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)"
        #loginForm="ngForm"
        *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
             name="email"
             type="email"
             ngModel
             #emailInput="ngModel"
             required
             email
             placeholder="Enter Email">
      <mat-error *ngIf="emailInput.invalid">Please enter valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             name="password"
             type="password"
             #passwordInput="ngModel"
             ngModel
             required
             placeholder="Enter Password">
      <mat-error *ngIf="passwordInput.invalid">Password Required</mat-error>
    </mat-form-field>

    <button mat-raised-button
            [disabled]="loginForm.invalid"
            color="accent" type="submit">Login</button>
  </form>
</mat-card>
